parameters:
    # From 0-8 (or "max". 0 is loosest). See the files in conf/ in the repo for what's at each level
    # Can be overridden with the -l parameter on the commandline
    level: 8
    parallel:
        processTimeout: 300.0
    fileExtensions:
        - php
    paths:
        - src

    # From phpstan-strict-rules
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkFunctionNameCase: true
    reportStaticMethodSignatures: true

    ignoreErrors:
        -
            message: '#^Method [^:]+\:\:stackTraceString\(\) has parameter \$backtrace with no value type specified in iterable type array#'
            path: **/src/ErrorHandler.php
        -
            message: '#^Dynamic call to static method PHPUnit#'
            path: **/tests/*
            reportUnmatched: false
        - '#^Parameter \#1 \$matches of method AllenJB\\Notifications\\LogParser\\PHP\:\:createEventFromMatches\(\) expects array\{date\: string, msg\: string, severity\?\: string\}, array\<string\> given\.$#'
        - '#^Parameter \#1 \$matches of method AllenJB\\Notifications\\LogParser\\FPM\:\:createEventFromMatches\(\) expects array\{date\: string, msg\: string, severity\: string\}, array\<string\> given\.$#'
services:
    -
        class: PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
        tags:
            - phpstan.rules.rule
