<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
    <coverage processUncoveredFiles="false"
              cacheDirectory="build/cache/phpunit/coverage/">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage/report"/>
            <cobertura outputFile="build/coverage/cobertura.xml"/>
            <clover outputFile="build/coverage/clover.xml"/>
            <crap4j outputFile="build/coverage/crap4j.xml" threshold="50"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
